<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MODORI is a Natural Language Processing Web API Using Python Flask and Konlpy">
    <meta name="author" content="Keon Woo Kim">
    <link rel="shortcut icon" href="static/ico/favicon.png">

    <title>modori - natural language processing web engine for korean language</title>

    <!-- Custom styles for this template -->
    <link href="static/css/404.css" rel="stylesheet">
  </head>
  <body>
	  <div class="container">

	  <div class="info-label">
	  
	  <div class="error">
	<h2 > 404 </h2>
	      <div class="text">

	    <b>Error</b>
	  
	    </div>
	    
	  </div>


	  </div>

	    <div class="info-text">
	            <h1>Page not found</h1>
	      <a href="/"> Go back to the previous page </a> <p> The requested page does not exist. Please contact admin(kwk236@nyu.edu) if the site seems to malfunction.

	 </p>
	 
	    </div>
	  
	  </div>
	</body>
</html>