{% extends "docbase.html" %}
{% block content %}


  <section id="quickstart" name="quickstart"></section>
  <!-- INTRO WRAP -->
  <div id="intro">
    <div class="container">
      <div class="row centered">
        <h1>QUICKSTART</h1>
        <br>
        <br>
        <div class="col-lg-12">
          <img src="static/img/community.png" alt="">
          <h3>Community</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </div>
      <br>
      </div> <!--/ .container -->
  </div><!--/ #introwrap -->
  
  <section id="api" name="api"></section>
  <div id="showcase">
    <div class="container">
      <div class="row">
        <h1 class="centered">Simple API</h1>
        
      </div>
      <br>
      <br>
      <br>  
    </div><!-- /container -->
  </div>  

{% endblock %}