{% extends "docbase.html" %}
{% block content %}


  <section id="quickstart" name="quickstart"></section>
  <!-- INTRO WRAP -->
  <div id="intro">
    <div class="container">
      <div class="row centered">
        <h1>QUICKSTART</h1>
        <br>
        <p>
          The core of <b>modori</b> is built with <b>KoNLPy</b>'s <b>mecab</b> natural language processing engine.
        </p>
        <p>
          Please refer to <b><a href="http://konlpy.org/ko/v0.4.3/api/konlpy.tag/#mecab-class">KoNLPy's mecab document</a></b>
          or <b><a href="https://github.com/jordwest/mecab-docs-en">Mecab's original document</a></b> for more information.
        </p>
        <br>
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <p>All API access is over HTTP, and accessed from the modori.com/api domain.</p>
          <p> All data is sent and received as JSON.</p>
          <div class="well">...</div>
<!--           <pre class="pull-left" style="text-align:left; width:100%;">
All API access is over HTTPS, and accessed from the api.github.com domain (or through yourdomain.com/api/v3/ for enterprise). All data is sent and received as JSON.
          </pre> -->

          <br>
          <br>
          <h2>Client Errors</h2>
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Panel heading</div>
            <div class="panel-body">
              <p>...</p>
            </div>

            <!-- Table -->
            <table class="table">
              ...
            </table>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
      <br>
      </div> <!--/ .container -->
  </div><!--/ #introwrap -->


  <section id="overview" name="overview"></section>
  <div>
    <div class="container">
      <div class="row">
        <hr>
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
          <h1 class="centered">Simple API Overview</h1>
            <div class="list-group" style="margin-top:30px;">
              <a href="#" class="list-group-item disabled">
                This describes the resources that make up the official Modori API v1.
              </a>
              <!-- <a href="#api" class="list-group-item">API</a> -->
              <a href="#morphs" class="list-group-item">Morphs</a>
              <a href="#nouns" class="list-group-item">Nouns</a>
              <a href="#pos" class="list-group-item">POS tagger</a>
              <a href="#example" class="list-group-item">example</a>
            </div>        
        </div>
        <div class="col-lg-4"></div>
      </div>
      <br>
      <br>
      <br>  
    </div><!-- /container -->
  </div>  

  <section id="morphs" name="morphs"></section>
  <div id="showcase">
    <div class="container">
      <div class="row">
        <h1 class="centered">morphs</h1>
        
      </div>
      <br>
      <br>
      <br>  
    </div><!-- /container -->
  </div>  

  <section id="nouns" name="nouns"></section>
  <div id="showcase">
    <div class="container">
      <div class="row">
        <h1 class="centered">nouns</h1>
        
      </div>
      <br>
      <br>
      <br>  
    </div><!-- /container -->
  </div> 

  <section id="pos" name="pos"></section>
  <div id="showcase">
    <div class="container">
      <div class="row">
        <h1 class="centered">POS tagger</h1>
        
      </div>
      <br>
      <br>
      <br>  
    </div><!-- /container -->
  </div>  

  <section id="example" name="example"></section>
  <div id="showcase">
    <div class="container">
      <div class="row">
        <h1 class="centered">example</h1>
        
      </div>
      <br>
      <br>
      <br>  
    </div><!-- /container -->
  </div>  

{% endblock %}