{% extends "base.html" %}
{% block content %}

  <section id="home" name="home"></section>
  <div id="headerwrap">
      <div class="container">
        <div class="row centered">
          <div class="col-lg-12">
          <h1><b>modori</b></h1>
          <h3>A Korean Natural Language Processing Web API</h3>
          <br>
          </div>
          
          <div class="col-lg-2">
            <h5>Request with JSON</h5>
            <p>Request with the Data in JSON format.</p>
            <img class="hidden-xs hidden-sm hidden-md" src="static/img/arrow1.png">
          </div>
          <div class="col-lg-4">
            <pre>
<code class="json hljs" style="text-align:left;">[


  {

    "<span class="hljs-attribute">text</span>": <span class="hljs-value"><span class="hljs-string">"아빠가 방에 들어가신다"</span></span>
  </span>

  }


]
</code>
            </pre>
          </div>
          <div class="col-lg-4">
            <pre>
<code class="json hljs" style="text-align:left;">[
  {
    "<span class="hljs-attribute">text</span>": <span class="hljs-value"><span class="hljs-string">"아빠가 방에 들어가신다"</span></span>,
    "<span class="hljs-attribute">result</span>":[
    <span class="hljs-value">[<span class="hljs-string">"아빠","NNG"</span>]</span>,
    <span class="hljs-value">[<span class="hljs-string">"가","JKS"</span>]</span>,
    <span class="hljs-value">[<span class="hljs-string">"방","NNG"</span>]</span>,
    <span class="hljs-value">[<span class="hljs-string">"에","JKB"</span>]</span>,
    <span class="hljs-value">[<span class="hljs-string">"들어가","VV"</span>]</span>,
    <span class="hljs-value">[<span class="hljs-string">"신다","EP+EC"</span>]</span>
    ]
  }
]
</code>
            </pre>
          </div>
          <div class="col-lg-2">
            <br>
            <img class="hidden-xs hidden-sm hidden-md" src="static/img/arrow2.png">
            <h5>And Get the processed Results Right Away</h5>
            <p>Tada! you get an accurate result of analyzed data within a few milliseconds.</p>
          </div>
        </div>
      </div> <!--/ .container -->
  </div><!--/ #headerwrap -->


  <section id="desc" name="desc"></section>
  <!-- INTRO WRAP -->
  <div id="intro">
    <div class="container">
      <div class="row centered">
        <h1>Designed To Excel</h1>
        <br>
        <br>
        <div class="col-lg-4">
          <img src="static/img/performance.png" alt="" style="max-width:130px">
          <h3>Fast Performance</h3>
          <p>Mecab natural processing engine (written in C++) ensures fast performance.</p>
        </div>
        <div class="col-lg-4">
          <img src="static/img/easy-to-use.png" alt="" style="max-width:200px">
          <h3>Easy to Use</h3>
          <p>It is a simple web api. Just send data through http request and get the result!</p>
        </div>
        <div class="col-lg-4">
          <img src="static/img/osi.png" alt="" style="max-width:130px">
          <h3>Open Source</h3>
          <p>It is open source, you can get it for free and customize to work the way you want.</p>
        </div>
      </div>
      <br>
      <hr>
      </div> <!--/ .container -->
  </div><!--/ #introwrap -->
  
  
  <section id="community" name="community"></section>
  <!-- INTRO WRAP -->

  <div style="padding-top:70px">
    <div class="container">
      <div class="row centered">
      <hr>
        <h1>Community</h1>
        <br>
        <br>
        <div class="col-lg-12">
          <img src="static/img/community.png" alt="">
          <h3>modori is built by community developers</h3>
          <p><a>Korean Facebook Group</a></p>
          <p><a href="https://github.com/keonkim/modori">Modori Github</a></p>
        </div>
      </div>
      <br>
      </div> <!--/ .container -->
  </div><!--/ #introwrap -->
  
  <section id="showcase" name="showcase"></section>
  <div id="showcase">
    <div class="container">
      <div class="row">
        <h1 class="centered">Simple Working Demo</h1>
        <br>
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
          <textarea placeholder="한국어로 된 텍스트를 입력해보세요" type="text" name="text" style="width:100%; min-height:100px;"></textarea>
          <button href="javascript:void();" id="send" style="width:100%; margin-bottom:30px;" class="btn btn-success">submit</button>
        </div>
        <div class="col-lg-4">
          
          <pre>
          <span id="result">여기에 결과물이 나타납니다.</span>
<!--{ 
  "type:404",
  "message":"api not found"
} -->
          </pre>
        </div>
        <div class="col-lg-2"></div>
      </div>
      <br>
      <br>
      <br>  
    </div><!-- /container -->
  </div>  

  <section id="footer" name="footer"></section>
  <!-- INTRO WRAP -->
  <div id="intro">
    <div class="container">
      <div class="row centered">
        <h1>Main Contributors</h1>
        <br>
        <br>
        <a href="http://keonkim.github.io"><h4>Keon Woo Kim<h4></a>
        <a href="https://github.com/Outpark"><h4>Seongsoon Park<h4></a>
      </div>
      <br>
      <hr>
      </div> <!--/ .container -->
  </div><!--/ #introwrap -->
  


{% endblock %}